<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
</head>
<body>
<main class="container">
    <h1>Add Blog</h1>

    <div>
        <form action="/admin/add-blog" method="post">
            <div class="form-group">
                <label for="blogDate">Date</label>
                <input type="text" class="form-control-plaintext" id="blogDate" name="blogDate" value="<%= new Date().toISOString().slice(0,10) %>">
            </div>
            <div class="form-group">
                <% if (typeof errors !== 'undefined' && errors.blogAuthor) { %>
                    <div class="text-danger"><%= errors.blogAuthor.msg %></div>
                <% } %>
                <label for="blogAuthor">Author</label>
                <input type="text" class="form-control <% if (typeof errors !== 'undefined' && errors.blogAuthor) { %>is-invalid<% } else { %> '' <% } %>" id="blogAuthor" name="blogAuthor">
            </div>
            <div class="form-group">
                <% if (typeof errors !== 'undefined' && errors.blogTitle) { %>
                    <div class="text-danger"><%= errors.blogTitle.msg %></div>
                <% } %>
                <label for="blogTitle">Title</label>
                <input type="text" class="form-control <% if (typeof errors !== 'undefined' && errors.blogTitle) { %>is-invalid<% } else { %> '' <% } %>" id="blogTitle" name="blogTitle">
            </div>
            <div class="form-group">
                <% if (typeof errors !== 'undefined' && errors.blogBody) { %>
                    <div class="text-danger"><%= errors.blogBody.msg %></div>
                <% } %>
                <label for="blogBody">Body</label>
                <textarea class="form-control <% if (typeof errors !== 'undefined' && errors.blogBody) { %>is-invalid<% } else { %> '' <% } %>" id="blogBody" name="blogBody" rows="10"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="blogDraft" name="blogDraft">
                <label class="form-check-label" for="blogDraft">Draft?</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</main>
<%- include('../includes/footer.ejs') %>
