<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
</head>
<body>
<main class="container">
    <h1><%= pageTitle %>
</main>
<%- include('../includes/footer.ejs') %>
