<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
</head>
<body>
<main class="container">
    <h1 class="text-center"><%= pageTitle %></h1>
    <h2><%= username %></h2>
    <% if (blogs.length > 0) { %>
        <div class="container card-deck">
            <% for (let blog of blogs) { %>
                <div class="card" style="width: 36rem;">
                    <img class="card-img-top border-light" src="<% if (typeof blog.imageUrl !== 'undefined') { %><%= blog.imageUrl %><% } else { %>/images/computer_geek.png<% } %>" alt="blog image">
                    <div class="card-header bg-secondary text-center">
                        <div class="card-title text-light"><h4><%= blog.title %></h4></div>
                        <div class="card-subtitle text-light">
                            <h5><%= blog.author %></h5>
                            <h6><%= new Date(blog.date).toISOString().slice(0,10) %></h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><%= blog.body %></p>
                    </div>
                    <div class="card-footer bg-secondary text-center">
                        <a href="/admin/entry/<%= blog._id %>" class="btn btn-outline-light">Go to Blog</a>
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <p>No blogs found</p>
    <% } %>
</main>
<%- include('../includes/footer.ejs') %>
