<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
</head>
<body>
<main class="container">
    <div class="text-center">
        <% if (typeof blog !== 'undefined') { %>
            <h1><%= blog.title %></h1>
            <h3 class="text-muted"><%= blog.author %>&nbsp;&ndash;&nbsp;<%= new Date(blog.date).toISOString().slice(0,10) %></h3>
            <div class="container">
                <img class="img-fluid img-thumbnail rounded mx-auto d-block" width="300" src="<% if (typeof blog.imageUrl !== 'undefined') { %><%= blog.imageUrl %><% } else { %>/images/computer_geek.png<% } %>" alt="blog image">
                <p><%= blog.body %></p>
            </div>
        <% } %>
    </div>
</main>
<%- include('../includes/footer.ejs') %>
