<header class="main-header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/images/computer_geek.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <a class="navbar-brand" href="/">&nbsp;ProfessorMullins</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= path === '/' ? 'active' : '' %>">
                <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="nav-item <%= path === '/about' ? 'active' : '' %>">
                <a class="nav-link <%= path === '/about' ? 'active' : '' %>" href="/about">About</a>
            </li>
            <li class="nav-item <%= path === '/contact' ? 'active' : '' %>">
                <a class="nav-link <%= path === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
            </li>
            <% if (username === '') { %>
                <li class="nav-item <%= path === '/register' ? 'active' : '' %>">
                    <a class="nav-link <%= path === '/register' ? 'active' : '' %>" href="/register">Register</a>
                </li>
                <li class="nav-item <%= path === '/login' ? 'active' : '' %>">
                    <a class="nav-link <%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                </ul>
            <% } else { %>
                </ul><!-- end ul .navbar-nav -->
                <form action="/user-account" method="get" class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><%= username %></button>
                </form>
            <% } %>
    </div>
</nav>
</header>
