<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/navigation.ejs') %>
</head>
<main class="container text-center">
    <h1>About</h1>
</main>
<%- include('includes/footer.ejs') %>
