<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/navigation.ejs') %>
</head>
<body>
<main class="container text-center main-home">
    <h1>ProfessorMullins.io</h1>
    <% if (username !== '') { %>
        <h2>Welcome, <%= username %></h2>
    <% } %>

    <div>
        <img class="img-fluid rounded mx-auto d-block" src="/images/computer_geek.png" alt="Logo">
    </div>
</main>
<%- include('includes/footer.ejs') %>
