<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/navigation.ejs') %>
</head>
<body>
<main class="container">
    <h1>Login</h1>
    <p>Please login to your account.  <a href="/register">Not registered?</a></p>
    
    <form id="login-form" action="/login" method="post">
        <div class="form-group">
            <% if (typeof errors !== 'undefined' && errors.username) { %>
                <div class="text-danger"><%= errors.username.msg %></div>
            <% } %>
            <label for="username">Username</label>
            <input class="form-control <% if (typeof errors !== 'undefined' && errors.username) { %>is-invalid<% } else { %> '' <% } %>" type="text" name="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <% if (typeof errors !== 'undefined' && errors.password) { %>
                <div class="text-danger"><%= errors.password.msg %></div>
            <% } %>
            <label for="password">Password</label>
            <input class="form-control <% if (typeof errors !== 'undefined' && errors.password) { %>is-invalid<% } else { %> '' <% } %>" type="password" name="password" placeholder="Password">
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</main>
<%- include('includes/footer.ejs') %>
