<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/navigation.ejs') %>
</head>
<body>
<main class="container">
    <h1>Register</h1>
    <p>Please register. <a href="/login">Already registered?</a></p>
    
    <form id="register-form" class="needs-validation" action="/register" method="post" novalidate>
        <div class="form-group">
            <label for='email'>Email Address</label>
            <% if (typeof errors !== 'undefined' && errors.email) { %>
                <div class="text-danger"><%= errors.email.msg %></div>
            <% } %>
            <input class="form-control <% if (typeof errors !== 'undefined' && errors.email) { %>is-invalid<% } else { %> '' <% } %>" type="email" name="email" placeholder="someone@example.com">
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <% if (typeof errors !== 'undefined' && errors.username) { %>
                <div class="text-danger"><%= errors.username.msg %></div>
            <% } %>
            <input class="form-control <% if (typeof errors !== 'undefined' && errors.username) { %>is-invalid<% } else { %> '' <% } %>" type="text" name="username" placeholder="Enter Username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <% if (typeof errors !== 'undefined' && errors.password) { %>
                <div class="text-danger"><%= errors.password.msg %></div>
            <% } %>
            <input class="form-control <% if (typeof errors !== 'undefined' && errors.password) { %>is-invalid<% } else { %> '' <% } %>" type="password" name="password" placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">
                Password must be between 8 and 32 characters and contain one number, one lowercase letter, one capital letter, and one of the following special characters: ?, !, @, #, $, %, &, *
            </small>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type='submit'>Submit</button>
        </div>
    </form>
</main>
<%- include('includes/footer.ejs') %>
