<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/navigation.ejs') %>
</head>
<body>
<main>
    <h1>Account</h1>
    <h2><%= username %></h2>
</main>
<%- include('includes/footer.ejs') %>
