.error-h1 {
    font-size: 8rem;
    text-align: center;
    color: #0b2ef5;
}

.error-p {
    font-size: 2rem;
    text-align: center;

}

.error-p a {
    text-decoration: none;
    color: #0b2ef5;
}

.error-p a:hover {
    font-weight: bold;
    color: #091a7c;
}