.nav {
  height: 100%;
  align-items: center;
  font-size: 1.5rem;
}

.nav-items {
  margin: 1rem 2rem;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 1rem;
  padding: 0;
}

.nav-item a {
  text-decoration: none;
  color: #ffffff;
}

.nav-item a:hover,
.nav-item a:active,
.nav-item a.active {
  color: #3b48ff;
  font-weight: 700;
}

.user-nav-item a {
  color: #bfbfbf;
  text-decoration: none;
}

.user-nav-item a:hover,
.user-nav-item a:active,
.user-nav-item a.active {
  color: #a6a6a6;
  font-weight: 700;
}
