<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1 class="error-h1">Oops!</h1>

        <p class="error-p">The username you entered was not found.</p>
        <p class="error-p">
            <a class="error-a" href="/register">Register</a>
        </p>
    </main>
<%- include('../includes/footer.ejs') %>
